[Unit]
Description=The Oracle Database Service
After=syslog.target network.target

[Service]
LimitMEMLOCK=infinity
LimitNOFILE=65535

Type=oneshot
RemainAfterExit=yes
User={{oracledb.user}}
Group={{oracledb.group}}
Restart=no

ExecStart=/usr/bin/echo 'Starting Oracle Databases with Y in /etc/oratab for {{oracle_home}}'
ExecStart={{oracle_home}}/bin/dbstart {{oracle_home}}
ExecStart=/usr/bin/echo 'dbstart has completed'

ExecStop=/usr/bin/echo 'Stopping Oracle Databases'
ExecStop={{oracle_home}}/bin/dbshut {{oracle_home}}
ExecStop=/usr/bin/echo 'dbshut has completed'

[Install]
WantedBy=multi-user.target
